#text_div {
    clear: both;
    float: left;
    width: 50%;
    background-color: aqua;
}
#key_div {
    background-color: blueviolet;
}
#empty_div {
    clear: both;
    background-color: black;
}
#divKeyConfig {
    margin-top: 10px;
    margin-left: 20px;
    justify-content: left;
}
input {
    margin-left: 10px;
}
